{% extends 'flatpages/default.html' %}

{% block content %}
<main>
    <section>
        <a href="{% url 'minavgmax' 1 %}" class="months">
            <div class="wrap">
                <div class="item">Январь</div>
                <div class="item">Период:</div>
                <div class="item">01.01.2024 - 31.01.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 2 %}" class="months">
            <div class="wrap">
                <div class="item">Февраль</div>
                <div class="item">Период:</div>
                <div class="item">01.02.2024 - 29.02.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 3 %}" class="months">
            <div class="wrap">
                <div class="item">Март</div>
                <div class="item">Период:</div>
                <div class="item">01.03.2024 - 31.03.2024</div>
               </div>
        </a>
        <a href="{% url 'minavgmax' 4 %}" class="months">
            <div class="wrap">
                <div class="item">Апрель</div>
                <div class="item">Период:</div>
                <div class="item">01.04.2024 - 30.04.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 5 %}" class="months">
            <div class="wrap">
                <div class="item">Май</div>
                <div class="item">Период:</div>
                <div class="item">01.05.2024 - 31.05.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 6 %}" class="months">
            <div class="wrap">
                <div class="item">Июнь</div>
                <div class="item">Период:</div>
                <div class="item">01.06.2024 - 30.06.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 7 %}" class="months">
            <div class="wrap">
                <div class="item">Июль</div>
                <div class="item">Период:</div>
                <div class="item">01.07.2024 - 31.07.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 8 %}" class="months">
            <div class="wrap">
                <div class="item">Август</div>
                <div class="item">Период:</div>
                <div class="item">01.08.2024 - 31.08.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 9 %}" class="months">
            <div class="wrap">
                <div class="item">Сентябрь</div>
                <div class="item">Период:</div>
                <div class="item">01.09.2024 - 30.09.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 10 %}" class="months">
            <div class="wrap">
                <div class="item">Октябрь</div>
                <div class="item">Период:</div>
                <div class="item">01.10.2024 - 31.10.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 11 %}" class="months">
            <div class="wrap">
                <div class="item">Ноябрь</div>
                <div class="item">Период:</div>
                <div class="item">01.11.2024 - 30.11.2024</div>
            </div>
        </a>
        <a href="{% url 'minavgmax' 12 %}" class="months">
            <div class="wrap">
                <div class="item">Декабрь</div>
                <div class="item">Период:</div>
                <div class="item">01.12.2024 - 31.12.2024</div>
            </div>
        </a>
    </section>
</main>

{% endblock content %}